html.compact {
  --ant-font-size: 12px;
  --ant-line-width: 1px;
  --ant-line-type: solid;
  --ant-border-radius: 6px;
  --ant-size-unit: 4px;
  --ant-size-step: 4px;
  --ant-size-popup-arrow: 16px;
  --ant-control-height: 28px;
  --ant-opacity-image: 1;
  --ant-font-size-sm: 10px;
  --ant-font-size-lg: 14px;
  --ant-font-size-xl: 16px;
  --ant-font-size-heading-1: 32px;
  --ant-font-size-heading-2: 26px;
  --ant-font-size-heading-3: 20px;
  --ant-font-size-heading-4: 16px;
  --ant-font-size-heading-5: 14px;
  --ant-line-height: 1.6666666666666667;
  --ant-line-height-lg: 1.5714285714285714;
  --ant-line-height-sm: 1.8;
  --ant-font-height: 20px;
  --ant-font-height-lg: 22px;
  --ant-font-height-sm: 18px;
  --ant-line-height-heading-1: 1.25;
  --ant-line-height-heading-2: 1.3076923076923077;
  --ant-line-height-heading-3: 1.4;
  --ant-line-height-heading-4: 1.5;
  --ant-line-height-heading-5: 1.5714285714285714;
  --ant-size-xxl: 48px;
  --ant-size-xl: 32px;
  --ant-size-lg: 16px;
  --ant-size-md: 16px;
  --ant-size-ms: 12px;
  --ant-size: 8px;
  --ant-size-sm: 8px;
  --ant-size-xs: 4px;
  --ant-size-xxs: 4px;
  --ant-control-height-sm: 21px;
  --ant-control-height-xs: 14px;
  --ant-control-height-lg: 35px;
  --ant-motion-duration-fast: 0.1s;
  --ant-motion-duration-mid: 0.2s;
  --ant-motion-duration-slow: 0.3s;
  --ant-line-width-bold: 2px;
  --ant-border-radius-xs: 2px;
  --ant-border-radius-sm: 4px;
  --ant-border-radius-lg: 8px;
  --ant-border-radius-outer: 4px;
  --ant-font-size-icon: 10px;
  --ant-line-width-focus: 3px;
  --ant-control-outline-width: 2px;
  --ant-control-interactive-size: 14px;
  --ant-font-weight-strong: 600;
  --ant-opacity-loading: 0.65;
  --ant-link-decoration: none;
  --ant-link-hover-decoration: none;
  --ant-link-focus-decoration: none;
  --ant-control-padding-horizontal: 12px;
  --ant-control-padding-horizontal-sm: 8px;
  --ant-padding-xxs: 4px;
  --ant-padding-xs: 4px;
  --ant-padding-sm: 8px;
  --ant-padding: 8px;
  --ant-padding-md: 16px;
  --ant-padding-lg: 16px;
  --ant-padding-xl: 32px;
  --ant-padding-content-horizontal-lg: 16px;
  --ant-padding-content-vertical-lg: 12px;
  --ant-padding-content-horizontal: 12px;
  --ant-padding-content-vertical: 8px;
  --ant-padding-content-horizontal-sm: 8px;
  --ant-padding-content-vertical-sm: 4px;
  --ant-margin-xxs: 4px;
  --ant-margin-xs: 4px;
  --ant-margin-sm: 8px;
  --ant-margin: 8px;
  --ant-margin-md: 16px;
  --ant-margin-lg: 16px;
  --ant-margin-xl: 32px;
  --ant-margin-xxl: 48px;
  --ant-screen-xs: 480px;
  --ant-screen-xs-min: 480px;
  --ant-screen-xs-max: 575px;
  --ant-screen-sm: 576px;
  --ant-screen-sm-min: 576px;
  --ant-screen-sm-max: 767px;
  --ant-screen-md: 768px;
  --ant-screen-md-min: 768px;
  --ant-screen-md-max: 991px;
  --ant-screen-lg: 992px;
  --ant-screen-lg-min: 992px;
  --ant-screen-lg-max: 1199px;
  --ant-screen-xl: 1200px;
  --ant-screen-xl-min: 1200px;
  --ant-screen-xl-max: 1599px;
  --ant-screen-xxl: 1600px;
  --ant-screen-xxl-min: 1600px;
}
